{
  "presets": ["es2015", "react"],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "AVA": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "${CONFIG}",
            "verbose": false,
          }
        ]
      ]
    }
  }
}
